---
import Icon from './Icon';

interface Props {
  title: string;
  icon: string;
}

const { title, icon } = Astro.props;
---

<div class="getting-started-item">
  <h3 class="getting-started-heading">
    <Icon name={icon} size={16} />
    {title}
  </h3>
  <slot />
</div>
